services:
    mongo:
        image: mongo
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
            - MONGO_INITDB_DATABASE=${MONGODB_DBNAME}
    mongo-express:
        image: mongo-express
        depends_on:
          mongo:
            condition: service_started
          backend:
            condition: service_started
        environment:
            - ME_CONFIG_MONGODB_URL=mongodb://devroot:devroot@mongo:27017/project?authSource=admin
            # - ME_CONFIG_MONGODB_AUTH_DATABASE=${MONGODB_DBNAME}
            # - ME_CONFIG_MONGODB_AUTH_USERNAME=devroot
            # - ME_CONFIG_MONGODB_AUTH_PASSWORD=devroot
            # - ME_CONFIG_BASICAUTH_USERNAME=${MONGOEXPRESS_LOGIN}
            # - ME_CONFIG_BASICAUTH_PASSWORD=${MONGOEXPRESS_PASSWORD}
        ports:
          - "8888:8081"
        restart: unless-stopped
    backend:
      build: ./backend
      container_name: backend
      depends_on:
        - mongo
      environment:
        - MONGODB_USER=${MONGO_ROOT_USER}
        - MONGODB_PASSWORD=${MONGO_ROOT_PASSWORD}
        - MONGODB_DBNAME=${MONGODB_DBNAME}
        - CLIENT_BASE_URL=$CLIENT_BASE_URL
        - API_BASE_URL=$API_BASE_URL
        - USER_SESSION_SECRET=$USER_SESSION_SECRET
        - CLIENT_ID=$CLIENT_ID
        - CLIENT_SECRET=$CLIENT_SECRET
      ports:
        - "5001:5001"
      volumes:
        - ./backend/src:/app/src
        - ./backend/uploads:/app/uploads
